<div class="container">
<div class="position-relative">
  <div class="card-category card-large" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))">
    <h1><%= @list.name %></h1>
  </div>
</div>

<%= link_to "New bookmark",  new_list_bookmark_path(@list) %>

<%= link_to "All Lists", lists_path(@lists)%>




<% @list.bookmarks.each do|bookmark| %>
  <div>
    <h2><%= bookmark.movie.title %></h2>
    <p><%= bookmark.comment %></p>
    <%= link_to "Delete Bookmark",
      bookmark_path(bookmark),
      data: {turbo_method: :delete, turbo_confirm: "Are you sure?"},
      class: "btn btn-warning"
      %>
  </div>
<% end %>
</div>
